<footer>
    <div class="logo"><a href="/loopcentral/build/home.html"><img src="./assets/img/logo1.png" alt=""></a></div>
    <ul class="social flex">
        <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
        <li><a href=""><i class="fab fa-youtube"></i></a></li>
        <li><a href=""><i class="fab fa-instagram"></i></a></li>
        <li><a href=""><i class="fab fa-spotify"></i></a></li>
    </ul>
    <ul class="link flex">
        <li><a href="">Điều Khoản Sử Dụng</a></li>
        <li><a href="">Chính Sách Bảo Mật</a></li>
        <li><a href="">Chính Sách Cookies</a></li>
        <li><a href="/loopcentral/build/about.html">Về Chúng Tôi</a></li>
        <li><a href="/loopcentral/build/contact.html">Liên Hệ</a></li>
    </ul>
    <div class="copyright">© 2021 Loop Central. All rights reserved. </div>
</footer>