<header>
    <div class="topheader flex">
        <div class="container flex-lc">
            <ul class="link flex">
                <li><a href="" title="Về chúng tôi">Về chúng tôi</a></li>
                <li><a href="" title="Liên hệ">Liên hệ</a></li>
            </ul>
            <ul class="social flex ml-auto">
                <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                <li><a href=""><i class="fab fa-youtube"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-spotify"></i></a></li>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg">
        <a class="logo" href=""><img src="./assets/img/logo.png" alt=""></a>
        <button class="navbar-toggler border-0" type="button">
            <span></span>
        </button>
        <div class="navbar-collapse" id="navbar">
            <a href="javascript:;" class="close" data-miss="collapse"><i class="fas fa-times"></i></a>
            <ul class="menu-m flex">
                <li><a href="/loopcentral/build/about.html" title="About">About</a></li>
                <li><a href="/loopcentral/build/contact.html" title="Contact">Contact</a></li>
            </ul>
            <ul class="navbar-nav">
                <li><a href="http://localhost:8000/home.html" title="Home"><span>Home</span></a></li>
                <li>
                    <a href="javascript:;" title="Services"><span>CULTURE</span></a>
                    <ul class="sub-menu">
                        <li><a href="" title="">Tin tức âm nhạc - giải trí</a></li>
                        <li><a href="" title="">Music business</a></li>
                        <li><a href="" title="">Tiêu điểm tuần</a></li>
                        <li><a href="" title="">Facts</a></li>
                    </ul>
                </li>
                <li><a href="/loopcentral/build/features.html" title="FEATURES"><span>FEATURES</span></a></li>
                <li><a href="" title="TIP & TUTORIAL"><span>TIP & TUTORIAL</span></a></li>
                <li><a href="" title="MUSIC"><span>MUSIC</span></a></li>
                <li><a href="" title="TECH"><span>TECH</span></a></li>
                <li><a href="" title="EVENT"><span>EVENT</span></a></li>
                <li><a href="/loopcentral/build/podcast.html" title="PODCAST"><span>PODCAST</span></a></li>
            </ul>
        </div>
        <button type="button" class="btn_search"></button>
    </nav>
</header>
<div class="search hide">
    <button type="button" class="btn_close">close</button>
    <div class="container">
        <form action="" method="">
            <input type="text" placeholder="Tìm kiếm">
            <p>Nhập từ khóa để hiện kết quả hoặc nhấn ESC để thoát</p>
        </form>
        <div class="search__result">
            <h4>13 kết quả cho <span>"keyword"</span></h4>
            <h5><span>Bài viết</span></h5>
            <div class="list_result row">
                <div class="col-lg-6 mb-20">
                    <article class="post post--ty5 flex">
                        <a href="" class="post__thumb"><img src="./assets/img/img5.jpg" alt=""></a>
                        <div class="post__content pr">
                            <span class="category">Guest Mix</span>
                            <h3><a href="">Kali Uchis Trusted Her Instincts & Got Her First No. 1 Album: 'A Lot of People Didn't Want to run away’</a></h3>
                            <time>28 tháng 3, 2021</time>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6 mb-20">
                    <article class="post post--ty5 flex">
                        <a href="" class="post__thumb"><img src="./assets/img/img6.jpg" alt=""></a>
                        <div class="post__content pr">
                            <span class="category">Playlist Review</span>
                            <h3><a href="">Morbid: A True Crime Podcast</a></h3>
                            <time>28 tháng 3, 2021</time>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6 mb-20">
                    <article class="post post--ty5 flex">
                        <a href="" class="post__thumb"><img src="./assets/img/img7.jpg" alt=""></a>
                        <div class="post__content pr">
                            <span class="category">Playlist Review</span>
                            <h3><a href="">Selena Gomez – ‘Revelación’ EP review: love and self-confidence abound</a></h3>
                            <time>28 tháng 3, 2021</time>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6 mb-20">
                    <article class="post post--ty5 flex">
                        <a href="" class="post__thumb"><img src="./assets/img/img8.jpg" alt=""></a>
                        <div class="post__content pr">
                            <span class="category">Guest Mix</span>
                            <h3><a href="">Kali Uchis Trusted Her Instincts & Got Her First No. 1 Album: 'A Lot of People Didn't Want to run away’</a></h3>
                            <time>28 tháng 3, 2021</time>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>