<main>
    <div class="box-breadcrumb">
        <ul class="breadcrumb container">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Culture</a></li>
            <li class="breadcrumb-item"><a href="#">Tin tức âm nhạc - giải trí</a></li>
            <li class="breadcrumb-item active" aria-current="page">Câu chuyện về chiếc áo dài 48-tiếng-may của...</li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="page-detail">
                    <span class="category">Tin tức âm nhạc - giải trí</span>
                    <h2 class="title">Câu chuyện về chiếc áo dài 48-tiếng-may của Kelly Marie Trần</h2>
                    <div class="des">Câu chuyện về Kelly Marie Trần, diễn viên lồng tiếng chính của Raya and The Last Dragon, và chiếc áo dài của cô tại sự kiện thảm đỏ ra mắt phim.</div>
                    <div class="meta flex-lc">Jack Sparrow <span class="space"></span> 28 tháng 3, 2021</div>
                    <div class="img"><img src="./assets/img/img-dt.jpg" alt=""></div>
                    <article class="detail">
                        <p>Tuần trước, thế giới được diện kiến công chúa Đông Nam Á đầu tiên của Disney. Sự kiện ra mắt phim Raya and The Last Dragon được phát sóng trực tuyến cùng dàn diễn viên lồng tiếng người châu Á như Awkwafina, Sarah Oh, Gemma Chan và Benedict Wong. Nhưng nổi bật hơn cả là diễn viên lồng tiếng chính cho công chúa Raya, Kelly Marie Trần, trong trang phục áo dài Việt Nam.</p>
                        <p>Được thiết kế bởi nhà thiết kế Thái Nguyễn, bộ trang phục của Kelly được lấy cảm hứng từ concept “phoenix rising from the ash” (tạm dịch: phượng hoàng tái sinh từ đống tro tàn), sử dụng nhiều chất liệu văn hoá cổ truyền Việt Nam.</p>
                        <figure>
                            <img src="./assets/img/img-dt2.jpg" alt="">
                            <figcaption>Thái Nguyễn và Kelly Marie Trần trong bộ áo dài. | Nguồn: The Josh</figcaption>
                        </figure>
                        <p>Bộ áo dài mang hai tông màu đen - vàng trang nhã, với các chi tiết hạt cườm và vải trên áo đều được đính bằng tay. Tà sau của áo được nối thêm một phần đuôi rũ dài, mang lại cho Kelly hình ảnh một nữ hoàng quý phái. Hơn hết, bộ áo cũng đi kèm chiếc khăn đóng được hoàn thiện tỉ mẩn, và theo những gì NTK Thái Nguyễn chia sẻ trên Instagram của anh, “tượng trưng cho sức mạnh.”</p>
                        <h4>Câu chuyện đằng sau chiếc áo dài lịch sử</h4>

                        <p>Với cái bắt tay cùng NTK Thái Nguyễn, chiếc áo dài của Kelly được hoàn thiện vỏn vẹn trong 48 tiếng đồng hồ. Cùng niềm hân hoan và tò mò, chúng tôi tìm đến nhà thiết kế Thái Nguyễn và hỏi anh về câu chuyện đằng sau trang phục này.</p>
                        <h4>Anh và chị Kelly Marie Trần biết đến nhau như thế nào?</h4>
                        <div class="soptify">
                            <img src="./assets/img/soptify1.jpg" alt="">
                        </div>
                        <p>Thái và Kelly có duyên làm việc với nhau lần đầu cho trang phục của Kelly tại buổi ra mắt phim Star Wars: The Last Jedi. Sau sự cố với fan hâm mộ Star Wars, Kelly ẩn mình một thời gian ngắn, và cả hai cũng không giữ liên lạc nhiều.</p>
                    </article>
                    <div class="info text-right">
                        <div class="author">Linh Lê</div>
                        <div class="source">Nguồn: <a href="">Link gốc</a></div>
                    </div>
                    <div class="tags flex-lc">
                        <h5>Tags:</h5>
                        <a href="#">Điện ảnh</a>
                        <a href="#">Thời trang Việt Nam</a>
                        <a href="#">The Last Dragon</a>
                    </div>
                    <div class="social">
                        <a href="" title=""><i class="fab fa-facebook"></i></a>
                        <a href="" title=""><i class="fab fa-twitter"></i></a>
                        <a href="" title=""><i class="fas fa-envelope"></i></a>
                        <a href="" title=""><i class="fas fa-link"></i></a>
                    </div>
                </div>
                <div class="related_post">
                    <h2 class="title">Related post</h2>
                    <div class="row">
                        <div class="col-lg-6 col-6 mb-20">
                            <article class="post post--ty1">
                                <a href="" class="post__thumb"><img src="./assets/img/img2.jpg" alt=""></a>
                                <div class="post__content pr">
                                    <span class="category">News</span>
                                    <h3><a href="">Chartbreaker: LOONA Cracked the Code to a K-Pop U.S. Radio Crossover</a></h3>
                                    <time>28 tháng 3, 2021</time>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-6 col-6 mb-20">
                            <article class="post post--ty1">
                                <a href="" class="post__thumb"><img src="./assets/img/img3.jpg" alt=""></a>
                                <div class="post__content pr">
                                    <span class="category">News</span>
                                    <h3><a href="">Start a blog to reach your creative peak</a></h3>
                                    <time>28 tháng 3, 2021</time>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-6 col-6 mb-20">
                            <article class="post post--ty1">
                                <a href="" class="post__thumb"><img src="./assets/img/img4.jpg" alt=""></a>
                                <div class="post__content pr">
                                    <span class="category">News</span>
                                    <h3><a href="">Start a blog to reach your creative peak</a></h3>
                                    <time>28 tháng 3, 2021</time>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-6 col-6 mb-20">
                            <article class="post post--ty1">
                                <a href="" class="post__thumb"><img src="./assets/img/img39.jpg" alt=""></a>
                                <div class="post__content pr">
                                    <span class="category">News</span>
                                    <h3><a href="">Start a blog to reach your creative peak</a></h3>
                                    <time>28 tháng 3, 2021</time>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-6 col-6 mb-20">
                            <article class="post post--ty1">
                                <a href="" class="post__thumb"><img src="./assets/img/img2.jpg" alt=""></a>
                                <div class="post__content pr">
                                    <span class="category">News</span>
                                    <h3><a href="">Chartbreaker: LOONA Cracked the Code to a K-Pop U.S. Radio Crossover</a></h3>
                                    <time>28 tháng 3, 2021</time>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-6 col-6 mb-20">
                            <article class="post post--ty1">
                                <a href="" class="post__thumb"><img src="./assets/img/img3.jpg" alt=""></a>
                                <div class="post__content pr">
                                    <span class="category">News</span>
                                    <h3><a href="">Start a blog to reach your creative peak</a></h3>
                                    <time>28 tháng 3, 2021</time>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ads ads-vertical mt-80">
                    <a href=""><img src="./assets/img/ads.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</main>