<main>
    <div class="box-breadcrumb">
        <ul class="breadcrumb container">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Features</a></li>
            <li class="breadcrumb-item"><a href="#">Tape Talk</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blood and Echoes: The Story of Come Out, Steve Reich’s Civil Rights Era Masterpiece</li>
        </ul>
    </div>
    <div class="banner banner-feature pr">
        <div class="banner__img"><img src="./assets/img/bg-feature.jpg" alt=""></div>
        <div class="banner__content">
            <span class="category">Tape Talk</span>
            <div class="meta flex-lc">DJ Dế Mèn <span class="space"></span>14 tháng 3, 2021</div>
            <h2>Blood and Echoes: The Story of Come Out, Steve Reich’s Civil Rights Era Masterpiece</h2>
            <p>Fifty years ago, the composer debuted his tape-loop experiment Come Out—a piece that put forth the voice of a man beaten by police, an injustice that still reverberates in our Black Lives Matter moment.</p>
        </div>
    </div>
    <div class="page_detail page_detail--feature">
        <div class="detail">
            <div class="yt-frame">
                <iframe src="https://www.youtube.com/embed/bq1xCZZar5o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <article>
                <p>On a spring day in 1964, police in Harlem’s 32nd precinct tried to beat a confession out of two black teenagers for a crime they did not commit. The young men, Wallace Baker and Daniel Hamm, were repeatedly bludgeoned with billy clubs while in custody, beaten with such force that they were taken to a nearby hospital for X-rays.</p>
                <p>Those 20 words, spoken by a young man who would unjustly remain in prison for nine years, still land like a truncheon. And utilizing just that one sentence, composer Steve Reich made one of the most visceral pieces of music of the 20th century. This month marks the 50th anniversary of Come Out, which made its live debut on April 17, 1966.</p>
                <p>“I got a call from Truman Nelson saying: ‘I heard that you work with tape,’” Steve Reich tells me over the phone 50 years later. “I thought, I'm not a tape editor, but yeah, I've worked with it.”</p>
                <p>Reich had realized his first tape piece the year before, based on a recording he made of San Francisco Pentecostal street preacher Brother Walter talking about Noah and the great flood. Walter proclaimed: “It’s gonna rain.”</p>
            </article>
            <div class="info text-right">
                <div class="author">Andy Beta</div>
            </div>
            <div class="tags flex-lc">
                <h5>Tags:</h5>
                <a href="#">Điện ảnh</a>
                <a href="#">Thời trang Việt Nam</a>
                <a href="#">The Last Dragon</a>
            </div>
            <div class="social flex-lc">
                <a href="" title=""><i class="fab fa-facebook"></i></a>
                <a href="" title=""><i class="fab fa-twitter"></i></a>
                <a href="" title=""><i class="fas fa-envelope"></i></a>
                <a href="" title=""><i class="fas fa-link"></i></a>
            </div>
        </div>
    </div>
    <div class="page-bt">
        <div class="ads ads-pc ads-horizontal">
            <a href=""><img src="./assets/img/ads1.jpg" alt=""></a>
        </div>
        <div class="readmore container">
            <h2 class="title">Read more</h2>
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-4">
                    <article class="post post--ty2 flex">
                        <a href="" class="post__thumb"><img src="./assets/img/img5.jpg" alt=""></a>
                        <div class="post__content pr">
                            <span class="category">Guest Mix</span>
                            <h3><a href="">Kali Uchis Trusted Her Instincts & Got Her First No. 1 Album: 'A Lot of Peop...</a></h3>
                            <p>December’s listener tales are coming in hot, weirdos! You guys are so good at these and have us cracking ...</p>
                            <time>28 tháng 3, 2021</time>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6 col-md-6 mb-4">
                    <article class="post post--ty2 flex">
                        <a href="" class="post__thumb"><img src="./assets/img/img6.jpg" alt=""></a>
                        <div class="post__content pr">
                            <span class="category">Playlist Review</span>
                            <h3><a href="">Morbid: A True Crime Podcast</a></h3>
                            <p>December’s listener tales are coming in hot, weirdos! You guys are so good at these and have us cracking ...</p>
                            <time>28 tháng 3, 2021</time>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6 col-md-6 mb-4">
                    <article class="post post--ty2 flex">
                        <a href="" class="post__thumb"><img src="./assets/img/img5.jpg" alt=""></a>
                        <div class="post__content pr">
                            <span class="category">Guest Mix</span>
                            <h3><a href="">Kali Uchis Trusted Her Instincts & Got Her First No. 1 Album: 'A Lot of Peop...</a></h3>
                            <p>December’s listener tales are coming in hot, weirdos! You guys are so good at these and have us cracking ...</p>
                            <time>28 tháng 3, 2021</time>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6 col-md-6 mb-4">
                    <article class="post post--ty2 flex">
                        <a href="" class="post__thumb"><img src="./assets/img/img6.jpg" alt=""></a>
                        <div class="post__content pr">
                            <span class="category">Playlist Review</span>
                            <h3><a href="">Morbid: A True Crime Podcast</a></h3>
                            <p>December’s listener tales are coming in hot, weirdos! You guys are so good at these and have us cracking ...</p>
                            <time>28 tháng 3, 2021</time>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6 col-md-6 mb-4">
                    <article class="post post--ty2 flex">
                        <a href="" class="post__thumb"><img src="./assets/img/img5.jpg" alt=""></a>
                        <div class="post__content pr">
                            <span class="category">Guest Mix</span>
                            <h3><a href="">Kali Uchis Trusted Her Instincts & Got Her First No. 1 Album: 'A Lot of Peop...</a></h3>
                            <p>December’s listener tales are coming in hot, weirdos! You guys are so good at these and have us cracking ...</p>
                            <time>28 tháng 3, 2021</time>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6 col-md-6 mb-4">
                    <article class="post post--ty2 flex">
                        <a href="" class="post__thumb"><img src="./assets/img/img6.jpg" alt=""></a>
                        <div class="post__content pr">
                            <span class="category">Playlist Review</span>
                            <h3><a href="">Morbid: A True Crime Podcast</a></h3>
                            <p>December’s listener tales are coming in hot, weirdos! You guys are so good at these and have us cracking ...</p>
                            <time>28 tháng 3, 2021</time>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</main>