<main>
    <div class="box-breadcrumb">
        <ul class="breadcrumb container">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Podcast</a></li>
            <li class="breadcrumb-item active" aria-current="page">I Asked the Head of Space Force What the Ag...</li>
        </ul>
    </div>
    <div class="banner banner-podcast pr">
        <div class="banner__img"><img src="./assets/img/bg-podcast.jpg" alt=""></div>
        <div class="banner__content">
            <span class="category">Podcast</span>
            <div class="meta flex-lc">Barbossa Captain <span class="space"></span>28 tháng 3, 2021</div>
            <h2>I Asked the Head of Space Force What the Agency Has Done for Me Lately</h2>
            <p>A discussion of Fiona Apple’s modern classic Fetch the Bolt Cutters, and a peek behind the curtain at Pitchfork’s 10 review.</p>
        </div>
    </div>
    <div class="page_detail page_detail--podcast">
        <div class="detail">
            <div class="spotify">
                <img src="./assets/img/soptifi2.jpg" alt="">
            </div>
            <article>
                <p>Gen. John Raymond has put up with plenty of mockery. But, he says, there’s nothing funny about protecting U.S. interests from Russian and Chinese anti-satellite technology.You can find transcripts (posted midday) and more information for all episodes at nytimes.com/sway, and you can find Kara on Twitter @karaswisher.</p>
            </article>
            <div class="info text-right">
                <div class="author">Sway</div>
            </div>
            <div class="tags flex-lc">
                <h5>Tags:</h5>
                <a href="#">Podcast</a>
                <a href="#">I care a lot</a>
                <a href="#">The Heart of the Sea</a>
                <a href="#">AgentHercules</a>
                <a href="#">MC</a>
                <a href="#">Old Regret</a>
                <a href="#">General Broomdog</a>
                <a href="#">JigKraken</a>
            </div>
            <div class="social flex-lc">
                <a href="" title=""><i class="fab fa-facebook"></i></a>
                <a href="" title=""><i class="fab fa-twitter"></i></a>
                <a href="" title=""><i class="fas fa-envelope"></i></a>
                <a href="" title=""><i class="fas fa-link"></i></a>
            </div>
        </div>
    </div>
    <div class="page-bt">
        <div class="ads ads-pc ads-horizontal">
            <a href=""><img src="./assets/img/ads1.jpg" alt=""></a>
        </div>
        <div class="listenmore container">
            <h2 class="title">Listen more</h2>
            <div class="row">
                <div class="col-lg-3 col-mb-4 col-6 mb-4">
                    <article class="post post--ty3">
                        <a href="" class="post__thumb"><img src="./assets/img/img10.jpg" alt=""></a>
                        <div class="post__content pr">
                            <h3><a href="">Chartbreaker: LOONA Cracked the Code to a ...</a></h3>
                            <time>28 tháng 3, 2021</time>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-mb-4 col-6 mb-4">
                    <article class="post post--ty3">
                        <a href="" class="post__thumb"><img src="./assets/img/img12.jpg" alt=""></a>
                        <div class="post__content pr">
                            <h3><a href="">I Asked the Head of Space Force What the...</a></h3>
                            <time>28 tháng 3, 2021</time>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-mb-4 col-6 mb-4">
                    <article class="post post--ty3">
                        <a href="" class="post__thumb"><img src="./assets/img/img11.jpg" alt=""></a>
                        <div class="post__content pr">
                            <h3><a href="">Chartbreaker: LOONA Cracked the Code to a ...</a></h3>
                            <time>28 tháng 3, 2021</time>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-mb-4 col-6 mb-4">
                    <article class="post post--ty3">
                        <a href="" class="post__thumb"><img src="./assets/img/img13.jpg" alt=""></a>
                        <div class="post__content pr">
                            <h3><a href="">Chartbreaker: LOONA Cracked the Code to a ...</a></h3>
                            <time>28 tháng 3, 2021</time>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-mb-4 col-6 mb-4">
                    <article class="post post--ty3">
                        <a href="" class="post__thumb"><img src="./assets/img/img10.jpg" alt=""></a>
                        <div class="post__content pr">
                            <h3><a href="">Chartbreaker: LOONA Cracked the Code to a ...</a></h3>
                            <time>28 tháng 3, 2021</time>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-mb-4 col-6 mb-4">
                    <article class="post post--ty3">
                        <a href="" class="post__thumb"><img src="./assets/img/img12.jpg" alt=""></a>
                        <div class="post__content pr">
                            <h3><a href="">I Asked the Head of Space Force What the...</a></h3>
                            <time>28 tháng 3, 2021</time>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-mb-4 col-6 mb-4">
                    <article class="post post--ty3">
                        <a href="" class="post__thumb"><img src="./assets/img/img11.jpg" alt=""></a>
                        <div class="post__content pr">
                            <h3><a href="">Chartbreaker: LOONA Cracked the Code to a ...</a></h3>
                            <time>28 tháng 3, 2021</time>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-mb-4 col-6 mb-4">
                    <article class="post post--ty3">
                        <a href="" class="post__thumb"><img src="./assets/img/img13.jpg" alt=""></a>
                        <div class="post__content pr">
                            <h3><a href="">Chartbreaker: LOONA Cracked the Code to a ...</a></h3>
                            <time>28 tháng 3, 2021</time>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</main>