<main>
    <div class="box-breadcrumb">
        <ul class="breadcrumb container">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Features</li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="category flex-lc">
                    <h4>Features</h4>
                    <ul class="list flex">
                        <li><a href="" title="">Guest Mix</a></li>
                        <li><a href="">Fresh & Raws</a></li>
                        <li><a href="">Tape Talk</a></li>
                        <li><a href="">Playlist Review</a></li>
                    </ul>
                </div>
                <div class="category__list">
                    <article class="post post--ty2 mb-20 flex">
                        <a href="" class="post__thumb"><img src="./assets/img/img5.jpg" alt=""></a>
                        <div class="post__content pr">
                            <span class="category">Guest Mix</span>
                            <h3><a href="">Kali Uchis Trusted Her Instincts & Got Her First No. 1 Album: 'A Lot of People Didn't Want to run away’</a></h3>
                            <p>December’s listener tales are coming in hot, weirdos! You guys are so good at these and have us cracking ...</p>
                            <time>12 tháng 3, 2021</time>
                        </div>
                    </article>
                    <article class="post post--ty2 mb-20 flex">
                        <a href="" class="post__thumb"><img src="./assets/img/img6.jpg" alt=""></a>
                        <div class="post__content pr">
                            <span class="category">Playlist Review</span>
                            <h3><a href="">Morbid: A True Crime Podcast</a></h3>
                            <p>December’s listener tales are coming in hot, weirdos! You guys are so good at these and have us cracking ...</p>
                            <time>12 tháng 3, 2021</time>
                        </div>
                    </article>
                    <article class="post post--ty2 mb-20 flex">
                        <a href="" class="post__thumb"><img src="./assets/img/img7.jpg" alt=""></a>
                        <div class="post__content pr">
                            <span class="category">Fresh & Raws</span>
                            <h3><a href="">Morbid: A True Crime Podcast</a></h3>
                            <p>December’s listener tales are coming in hot, weirdos! You guys are so good at these and have us cracking ...</p>
                            <time>12 tháng 3, 2021</time>
                        </div>
                    </article>
                    <article class="post post--ty2 mb-20 flex">
                        <a href="" class="post__thumb"><img src="./assets/img/img8.jpg" alt=""></a>
                        <div class="post__content pr">
                            <span class="category">Guest Mix</span>
                            <h3><a href="">Kali Uchis Trusted Her Instincts & Got Her First No. 1 Album: 'A Lot of People Didn't Want to run away’</a></h3>
                            <p>December’s listener tales are coming in hot, weirdos! You guys are so good at these and have us cracking ...</p>
                            <time>12 tháng 3, 2021</time>
                        </div>
                    </article>
                    <article class="post post--ty2 mb-20 flex">
                        <a href="" class="post__thumb"><img src="./assets/img/img7.jpg" alt=""></a>
                        <div class="post__content pr">
                            <span class="category">Fresh & Raws</span>
                            <h3><a href="">Morbid: A True Crime Podcast</a></h3>
                            <p>December’s listener tales are coming in hot, weirdos! You guys are so good at these and have us cracking ...</p>
                            <time>12 tháng 3, 2021</time>
                        </div>
                    </article>
                    <article class="post post--ty2 mb-20 flex">
                        <a href="" class="post__thumb"><img src="./assets/img/img8.jpg" alt=""></a>
                        <div class="post__content pr">
                            <span class="category">Guest Mix</span>
                            <h3><a href="">Kali Uchis Trusted Her Instincts & Got Her First No. 1 Album: 'A Lot of People Didn't Want to run away’</a></h3>
                            <p>December’s listener tales are coming in hot, weirdos! You guys are so good at these and have us cracking ...</p>
                            <time>12 tháng 3, 2021</time>
                        </div>
                    </article>
                    <article class="post post--ty2 mb-20 flex">
                        <a href="" class="post__thumb"><img src="./assets/img/img5.jpg" alt=""></a>
                        <div class="post__content pr">
                            <span class="category">Guest Mix</span>
                            <h3><a href="">Kali Uchis Trusted Her Instincts & Got Her First No. 1 Album: 'A Lot of People Didn't Want to run away’</a></h3>
                            <p>December’s listener tales are coming in hot, weirdos! You guys are so good at these and have us cracking ...</p>
                            <time>12 tháng 3, 2021</time>
                        </div>
                    </article>
                    <article class="post post--ty2 mb-20 flex">
                        <a href="" class="post__thumb"><img src="./assets/img/img6.jpg" alt=""></a>
                        <div class="post__content pr">
                            <span class="category">Playlist Review</span>
                            <h3><a href="">Morbid: A True Crime Podcast</a></h3>
                            <p>December’s listener tales are coming in hot, weirdos! You guys are so good at these and have us cracking ...</p>
                            <time>12 tháng 3, 2021</time>
                        </div>
                    </article>
                    <article class="post post--ty2 mb-20 flex">
                        <a href="" class="post__thumb"><img src="./assets/img/img8.jpg" alt=""></a>
                        <div class="post__content pr">
                            <span class="category">Guest Mix</span>
                            <h3><a href="">Kali Uchis Trusted Her Instincts & Got Her First No. 1 Album: 'A Lot of People Didn't Want to run away’</a></h3>
                            <p>December’s listener tales are coming in hot, weirdos! You guys are so good at these and have us cracking ...</p>
                            <time>12 tháng 3, 2021</time>
                        </div>
                    </article>
                    <article class="post post--ty2 mb-20 flex">
                        <a href="" class="post__thumb"><img src="./assets/img/img7.jpg" alt=""></a>
                        <div class="post__content pr">
                            <span class="category">Fresh & Raws</span>
                            <h3><a href="">Morbid: A True Crime Podcast</a></h3>
                            <p>December’s listener tales are coming in hot, weirdos! You guys are so good at these and have us cracking ...</p>
                            <time>12 tháng 3, 2021</time>
                        </div>
                    </article>
                </div>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="ads ads-vertical mt-80">
                    <a href=""><img src="./assets/img/ads.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</main>