<main>
    <div class="trending mb-4">
        <div class="container flex-lc flex-nowrad">
            <h4>Trending :</h4>
            <ul class="trending__list flex">
                <li><a href="" title="">Foo Fighters</a></li>
                <li><a href="" title="">The Weeknd</a></li>
                <li><a href="" title="">Cardi B</a></li>
                <li><a href="" title="">The Walking Dead</a></li>
                <li><a href="" title="">Billie Eilish</a></li>
                <li><a href="" title="">Wandavision</a></li>
                <li><a href="" title="">Marilyn Manson</a></li>
                <li><a href="" title="">The Big Read</a></li>
                <li><a href="" title="">AGBT 350</a></li>
                <li><a href="" title="">Godzilla</a></li>
            </ul>
        </div>
    </div>
    <div class="news container mb-4">
        <div class="row">
            <div class="col-lg-8">
                <div class="news__latest">
                    <h2 class="title">Tin Mới Nhất</h2>
                    <article class="post">
                        <a href="" class="post__thumb"><img src="./assets/img/img1.jpg" alt=""></a>
                        <div class="post__content pr">
                            <span class="category">New Release</span>
                            <h3><a href="">Cassandra Jenkins’ Hypnotic Folk Music Turns Everyday Moments Into Monum...</a></h3>
                            <p>In this Rising interview, the New York singer-songwriter talks about making art out of interactions with strangers and how her experiences with the late indie legend David Berman inspired her ...</p>
                            <time>28 tháng 3, 2021</time>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-4">
                <ul class="news__list">
                    <li>
                        <span class="category">News</span>
                        <h4><a href="">David Crosby Sells Legendary Catalog to Irving Azoff's Iconic Artists Group</a></h4>
                        <time>28 tháng 3, 2021</time>
                    </li>
                    <li>
                        <span class="category">Music</span>
                        <h4><a href="">Kali Uchis Trusted Her Instincts & Got Her First No. 1 Album: 'A Lot of People Didn't Wa...</a></h4>
                        <time>28 tháng 3, 2021</time>
                    </li>
                    <li>
                        <span class="category">Tech</span>
                        <h4><a href="">Celebrate Women's History Month With These Female Musicians' Memoirs</a></h4>
                        <time>28 tháng 3, 2021</time>
                    </li>
                    <li>
                        <span class="category">Event</span>
                        <h4><a href="">Universal Music Group's Profit Margins Grew in 2020, Despite Pandemic</a></h4>
                        <time>28 tháng 3, 2021</time>
                    </li>
                    <li>
                        <span class="category">News</span>
                        <h4><a href="">David Crosby Sells Legendary Catalog to Irving Azoff's Iconic Artists Group</a></h4>
                        <time>28 tháng 3, 2021</time>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ads ads-pc ads-horizontal">
        <a href=""><img src="./assets/img/ads1.jpg" alt=""></a>
    </div>
    <div class="ads ads-mobile">
        <a href=""><img src="./assets/img/ads-m.jpg" alt=""></a>
    </div>
    <div class="highlight container">
        <h2 class="title">Highlights</h2>
        <div class="highlight__list row">
            <div class="col-lg-3 col-6">
                <article class="post post--ty1">
                    <a href="" class="post__thumb"><img src="./assets/img/img2.jpg" alt=""></a>
                    <div class="post__content pr">
                        <span class="category">News</span>
                        <h3><a href="">Chartbreaker: LOONA Cracked the Code to a K-Pop U.S. Radio Crossover</a></h3>
                        <time>28 tháng 3, 2021</time>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-6">
                <article class="post post--ty1">
                    <a href="" class="post__thumb"><img src="./assets/img/img3.jpg" alt=""></a>
                    <div class="post__content pr">
                        <span class="category">Podcast</span>
                        <h3><a href="">Start a blog to reach your creative peak</a></h3>
                        <time>28 tháng 3, 2021</time>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-6">
                <article class="post post--ty1">
                    <a href="" class="post__thumb"><img src="./assets/img/img4.jpg" alt=""></a>
                    <div class="post__content pr">
                        <span class="category">Tips & Tuts</span>
                        <h3><a href="">Starting your traveling blog with Vasco</a></h3>
                        <time>28 tháng 3, 2021</time>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-6">
                <article class="post post--ty1">
                    <a href="" class="post__thumb"><img src="./assets/img/img26.jpg" alt=""></a>
                    <div class="post__content pr">
                        <span class="category">New Release</span>
                        <h3><a href="">Why choose a theme that looks good with WooCommerce</a></h3>
                        <time>28 tháng 3, 2021</time>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="s-feature container mb-4">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="feature">
                    <div class="header flex-lc">
                        <h2 class="title">Features</h2>
                        <a href="" class="btn_viewmore flex-lc">Xem thêm <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                    <div class="feature__list">
                        <article class="post post--ty2 flex">
                            <a href="" class="post__thumb"><img src="./assets/img/img5.jpg" alt=""></a>
                            <div class="post__content pr">
                                <span class="category">Guest Mix</span>
                                <h3><a href="">Kali Uchis Trusted Her Instincts & Got Her First No. 1 Album: 'A Lot of People Didn't Want to run away’</a></h3>
                                <p>December’s listener tales are coming in hot, weirdos! You guys are so good at these and have us cracking ...</p>
                                <time>28 tháng 3, 2021</time>
                            </div>
                        </article>
                        <article class="post post--ty2 flex">
                            <a href="" class="post__thumb"><img src="./assets/img/img6.jpg" alt=""></a>
                            <div class="post__content pr">
                                <span class="category">Playlist Review</span>
                                <h3><a href="">Morbid: A True Crime Podcast</a></h3>
                                <p>December’s listener tales are coming in hot, weirdos! You guys are so good at these and have us cracking ...</p>
                                <time>28 tháng 3, 2021</time>
                            </div>
                        </article>
                        <article class="post post--ty2 flex">
                            <a href="" class="post__thumb"><img src="./assets/img/img7.jpg" alt=""></a>
                            <div class="post__content pr">
                                <span class="category">Playlist Review</span>
                                <h3><a href="">Selena Gomez – ‘Revelación’ EP review: love and self-confidence abound</a></h3>
                                <p>December’s listener tales are coming in hot, weirdos! You guys are so good at these and have us cracking ...</p>
                                <time>28 tháng 3, 2021</time>
                            </div>
                        </article>
                        <article class="post post--ty2 flex">
                            <a href="" class="post__thumb"><img src="./assets/img/img8.jpg" alt=""></a>
                            <div class="post__content pr">
                                <span class="category">Guest Mix</span>
                                <h3><a href="">Kali Uchis Trusted Her Instincts & Got Her First No. 1 Album: 'A Lot of People Didn't Want to run away’</a></h3>
                                <p>December’s listener tales are coming in hot, weirdos! You guys are so good at these and have us cracking ...</p>
                                <time>28 tháng 3, 2021</time>
                            </div>
                        </article>
                        <article class="post post--ty2 flex">
                            <a href="" class="post__thumb"><img src="./assets/img/img9.jpg" alt=""></a>
                            <div class="post__content pr">
                                <span class="category">Tape Talk</span>
                                <h3><a href="">Blood and Echoes: The Story of Come Out, Steve Reich’s Civil Rights Era Masterpiece</a></h3>
                                <p>Fifty years ago, the composer debuted his tape-loop experiment Come Out—a piece that put forth the voice of a man beaten by police, an injustice that still reverberates i...</p>
                                <time>28 tháng 3, 2021</time>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="playlist">
                    <h2 class="title">Playlist <span>of the day</span></h2>
                    <div class="playlist__spotify">
                        <img src="./assets/img/soptify.jpg" alt="">
                    </div>
                    <div class="playlist__post flex">
                        <article class="post post--ty6 mb-20">
                            <a href="" class="post__thumb post__thumb--video"><img src="./assets/img/img-40.jpg" alt=""></a>
                            <h3><a href="">Dancing with the De...</a></h3>
                            <span>Julial Micheal</span>
                        </article>
                        <article class="post post--ty6 mb-20">
                            <a href="" class="post__thumb post__thumb--video"><img src="./assets/img/img41.jpg" alt=""></a>
                            <h3><a href="">Shuffle Syndrome</a></h3>
                            <span>Loop Central Music</span>
                        </article>
                        <article class="post post--ty6 mb-20">
                            <a href="" class="post__thumb post__thumb--video"><img src="./assets/img/img42.jpg" alt=""></a>
                            <h3><a href="">Shuffle Syndrome</a></h3>
                            <span>Loop Central Music</span>
                        </article>
                        <article class="post post--ty6 mb-20">
                            <a href="" class="post__thumb post__thumb--video"><img src="./assets/img/img43.jpg" alt=""></a>
                            <h3><a href="">Shuffle Syndrome</a></h3>
                            <span>Loop Central Music</span>
                        </article>
                    </div>
                </div>
                <div class="ads">
                    <a href=""><img src="./assets/img/ads2.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="podcasts container mb-4">
        <div class="header flex-lc">
            <h2 class="title">Podcasts</h2>
            <a href="" class="btn_viewmore flex-lc">Xem thêm <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
        <div class="podcasts__list row">
            <div class="col-lg-3 col-6">
                <article class="post post--ty3">
                    <a href="" class="post__thumb"><img src="./assets/img/img10.jpg" alt=""></a>
                    <div class="post__content pr">
                        <h3><a href="">Chartbreaker: LOONA Cracked the Code to a ...</a></h3>
                        <time>28 tháng 3, 2021</time>
                    </div>
                    <div class="post__info">
                        <h4>Ba chàng hiệp sĩ mộng mơ</h4>
                        <p>30 năm Đổi Mới - sự bền bỉ trau dồi thẩm mỹ nghệ thuật của một thế hệ đã chao đảo trước những kẻ cùng hung cực ác với sự hài hước duyên dáng và phép du hành thời gian đậm màu sắc Á Đông.</p>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-6">
                <article class="post post--ty3">
                    <a href="" class="post__thumb"><img src="./assets/img/img12.jpg" alt=""></a>
                    <div class="post__content pr">
                        <h3><a href="">I Asked the Head of Space Force What the...</a></h3>
                        <time>28 tháng 3, 2021</time>
                    </div>
                    <div class="post__info">
                        <h4>Ba chàng hiệp sĩ mộng mơ</h4>
                        <p>30 năm Đổi Mới - sự bền bỉ trau dồi thẩm mỹ nghệ thuật của một thế hệ đã chao đảo trước những kẻ cùng hung cực ác với sự hài hước duyên dáng và phép du hành thời gian đậm màu sắc Á Đông.</p>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-6">
                <article class="post post--ty3">
                    <a href="" class="post__thumb"><img src="./assets/img/img11.jpg" alt=""></a>
                    <div class="post__content pr">
                        <h3><a href="">Chartbreaker: LOONA Cracked the Code to a ...</a></h3>
                        <time>28 tháng 3, 2021</time>
                    </div>
                    <div class="post__info">
                        <h4>Ba chàng hiệp sĩ mộng mơ</h4>
                        <p>30 năm Đổi Mới - sự bền bỉ trau dồi thẩm mỹ nghệ thuật của một thế hệ đã chao đảo trước những kẻ cùng hung cực ác với sự hài hước duyên dáng và phép du hành thời gian đậm màu sắc Á Đông.</p>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-6">
                <article class="post post--ty3">
                    <a href="" class="post__thumb"><img src="./assets/img/img13.jpg" alt=""></a>
                    <div class="post__content pr">
                        <h3><a href="">Chartbreaker: LOONA Cracked the Code to a ...</a></h3>
                        <time>28 tháng 3, 2021</time>
                    </div>
                    <div class="post__info">
                        <h4>Ba chàng hiệp sĩ mộng mơ</h4>
                        <p>30 năm Đổi Mới - sự bền bỉ trau dồi thẩm mỹ nghệ thuật của một thế hệ đã chao đảo trước những kẻ cùng hung cực ác với sự hài hước duyên dáng và phép du hành thời gian đậm màu sắc Á Đông.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="s-culture container">
        <div class="row">
            <div class="col-lg-8">
                <div class="culture">
                    <div class="header flex-lc">
                        <h2 class="title">Culture</h2>
                        <a href="" class="btn_viewmore flex-lc">Xem thêm <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                    <div class="culture__list row">
                        <div class="col-lg-6 col-md-6">
                            <article class="post post--ty4">
                                <a href="" class="post__thumb"><img src="./assets/img/img14.jpg" alt=""></a>
                                <div class="post__content pr">
                                    <span class="category">Culture</span>
                                    <h3><a href="">Chartbreaker: LOONA Cracked the Code to a K-Pop U.S. Radio Crossov...</a></h3>
                                    <p>Genshin Impact được đánh giá cao nhờ khả năng gắn kết mọi người cùng vượt ...</p>
                                    <time>28 tháng 3, 2021</time>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <article class="post post--ty4">
                                <a href="" class="post__thumb"><img src="./assets/img/img15.jpg" alt=""></a>
                                <div class="post__content pr">
                                    <span class="category">Culture</span>
                                    <h3><a href="">The Best and Worst of Everything Else</a></h3>
                                    <p>To cap off our year-end coverage, we’re talking about the best and worst in categories that may not merit entire lists of their own: petty lawsuits,</p>
                                    <time>28 tháng 3, 2021</time>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <article class="post post--ty4">
                                <a href="" class="post__thumb"><img src="./assets/img/img16.jpg" alt=""></a>
                                <div class="post__content pr">
                                    <span class="category">Culture</span>
                                    <h3><a href="">Câu chuyện về chiếc áo dài 48-tiếng-may của Kelly Marie Trần</a></h3>
                                    <p>Câu chuyện về Kelly Marie Trần, diễn viên lồng tiếng chính của Raya and The Last Dragon, và chiếc áo dà...</p>
                                    <time>28 tháng 3, 2021</time>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <article class="post post--ty4">
                                <a href="" class="post__thumb"><img src="./assets/img/img17.jpg" alt=""></a>
                                <div class="post__content pr">
                                    <span class="category">Culture</span>
                                    <h3><a href="">Chartbreaker: LOONA Cracked the Code to a K-Pop U.S. Radio Crossov...</a></h3>
                                    <p>Genshin Impact được đánh giá cao nhờ khả năng gắn kết mọi người cùng vượt ...</p>
                                    <time>28 tháng 3, 2021</time>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ads ads-vertical mt-68 ads-3">
                    <a href=""><img src="./assets/img/ads.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="music container">
        <div class="header flex-lc">
            <h2 class="title">Music</h2>
            <a href="" class="btn_viewmore flex-lc">Xem thêm <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
        <div class="music_list row">
           <div class="col-lg-8">
               <div class="row">
                   <div class="col-lg-6 col-md-6 mb-4">
                       <article class="post post--ty4">
                           <a href="" class="post__thumb"><img src="./assets/img/img19.jpg" alt=""></a>
                           <div class="post__content pr">
                               <span class="category">Music</span>
                               <h3><a href="">Chartbreaker: LOONA Cracked the Code to a K-Pop U.S. Radio Crossov...</a></h3>
                               <p>Genshin Impact được đánh giá cao nhờ khả năng gắn kết mọi người cùng vượt ...</p>
                               <time>28 tháng 3, 2021</time>
                           </div>
                       </article>
                   </div>
                   <div class="col-lg-6 col-md-6 mb-4">
                       <article class="post post--ty4">
                           <a href="" class="post__thumb"><img src="./assets/img/img20.jpg" alt=""></a>
                           <div class="post__content pr">
                               <span class="category">Music</span>
                               <h3><a href="">The Best and Worst of Everything Else</a></h3>
                               <p>To cap off our year-end coverage, we’re talking about the best and worst in categories that may not merit entire lists of their own: petty lawsuits,</p>
                               <time>28 tháng 3, 2021</time>
                           </div>
                       </article>
                   </div>
                   <div class="col-lg-6 col-md-6 mb-4">
                       <article class="post post--ty4">
                           <a href="" class="post__thumb"><img src="./assets/img/img21.jpg" alt=""></a>
                           <div class="post__content pr">
                               <span class="category">Music</span>
                               <h3><a href="">Chartbreaker: LOONA Cracked the Code to a K-Pop U.S. Radio Crossov...</a></h3>
                               <p>Genshin Impact được đánh giá cao nhờ khả năng gắn kết mọi người cùng vượt ...</p>
                               <time>28 tháng 3, 2021</time>
                           </div>
                       </article>
                   </div>
                   <div class="col-lg-6 col-md-6 mb-4">
                       <article class="post post--ty4">
                           <a href="" class="post__thumb"><img src="./assets/img/img22.jpg" alt=""></a>
                           <div class="post__content pr">
                               <span class="category">Music</span>
                               <h3><a href="">The Best and Worst of Everything Else</a></h3>
                               <p>To cap off our year-end coverage, we’re talking about the best and worst in categories that may not merit entire lists of their own: petty lawsuits,</p>
                               <time>28 tháng 3, 2021</time>
                           </div>
                       </article>
                   </div>
               </div>
           </div>
        </div>
    </div>
    <div class="tech container">
        <div class="header flex-lc">
            <h2 class="title">Tech</h2>
            <a href="" class="btn_viewmore flex-lc">Xem thêm <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
        <div class="teach_list row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6 col-md-6 mb-4">
                        <article class="post post--ty4">
                            <a href="" class="post__thumb"><img src="./assets/img/img22.jpg" alt=""></a>
                            <div class="post__content pr">
                                <span class="category">Tech</span>
                                <h3><a href="">Chemicals and Plastics Industry Corrects Record on Its Position Regarding US-Kenya Trade Negoti...</a></h3>
                                <p>Genshin Impact được đánh giá cao nhờ khả năng gắn kết mọi người cùng vượt ...</p>
                                <time>28 tháng 3, 2021</time>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-4">
                        <article class="post post--ty4">
                            <a href="" class="post__thumb"><img src="./assets/img/img23.jpg" alt=""></a>
                            <div class="post__content pr">
                                <span class="category">Tech</span>
                                <h3><a href="">PU 201 Polyurethane Raw Materials, Testing, Specifications, and Performance The Myth and the magi</a></h3>
                                <p>To cap off our year-end coverage, we’re talking about the best and worst in categories that may not merit entire lists of their own: petty lawsuits,</p>
                                <time>28 tháng 3, 2021</time>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-4">
                        <article class="post post--ty4">
                            <a href="" class="post__thumb"><img src="./assets/img/img24.jpg" alt=""></a>
                            <div class="post__content pr">
                                <span class="category">Tech</span>
                                <h3><a href="">ACC Commends EPA on Release of TSCA Final Scoping Documents and Fees Lists</a></h3>
                                <p>Genshin Impact được đánh giá cao nhờ khả năng gắn kết mọi người cùng vượt ...</p>
                                <time>28 tháng 3, 2021</time>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-4">
                        <article class="post post--ty4">
                            <a href="" class="post__thumb"><img src="./assets/img/img25.jpg" alt=""></a>
                            <div class="post__content pr">
                                <span class="category">Tech</span>
                                <h3><a href="">Chemical Activity Barometer Shows Gain In August</a></h3>
                                <p>PU 201 Polyurethane Raw Materials, Testing, Specifications, and Performance The Myth and the Magic</p>
                                <time>28 tháng 3, 2021</time>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ads ads-horizontal ads-4">
        <a href=""><img src="./assets/img/ads1.jpg" alt=""></a>
    </div>
</main>