<main>
    <div class="box-breadcrumb">
        <ul class="breadcrumb container">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Podcast</li>
        </ul>
    </div>
    <div class="podcasts container">
        <div class="category flex-lc">
            <h4>Podcast</h4>
        </div>
        <div class="podcasts__list row">
            <div class="col-lg-3 col-6 mb-32">
                <article class="post post--ty3">
                    <a href="" class="post__thumb"><img src="./assets/img/img10.jpg" alt=""></a>
                    <div class="post__content pr">
                        <h3><a href="">Chartbreaker: LOONA Cracked the Code to a ...</a></h3>
                        <time>28 tháng 3, 2021</time>
                    </div>
                    <div class="post__info">
                        <h4>Ba chàng hiệp sĩ mộng mơ</h4>
                        <p>30 năm Đổi Mới - sự bền bỉ trau dồi thẩm mỹ nghệ thuật của một thế hệ đã chao đảo trước những kẻ cùng hung cực ác với sự hài hước duyên dáng và phép du hành thời gian đậm màu sắc Á Đông.</p>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-6 mb-32">
                <article class="post post--ty3">
                    <a href="" class="post__thumb"><img src="./assets/img/img12.jpg" alt=""></a>
                    <div class="post__content pr">
                        <h3><a href="">I Asked the Head of Space Force What the Agency Has Done for Me Lately</a></h3>
                        <time>28 tháng 3, 2021</time>
                    </div>
                    <div class="post__info">
                        <h4>Ba chàng hiệp sĩ mộng mơ</h4>
                        <p>30 năm Đổi Mới - sự bền bỉ trau dồi thẩm mỹ nghệ thuật của một thế hệ đã chao đảo trước những kẻ cùng hung cực ác với sự hài hước duyên dáng và phép du hành thời gian đậm màu sắc Á Đông.</p>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-6 mb-32">
                <article class="post post--ty3">
                    <a href="" class="post__thumb"><img src="./assets/img/img39.jpg" alt=""></a>
                    <div class="post__content pr">
                        <h3><a href="">Chartbreaker: LOONA Cracked the Code to a ...</a></h3>
                        <time>28 tháng 3, 2021</time>
                    </div>
                    <div class="post__info">
                        <h4>Ba chàng hiệp sĩ mộng mơ</h4>
                        <p>30 năm Đổi Mới - sự bền bỉ trau dồi thẩm mỹ nghệ thuật của một thế hệ đã chao đảo trước những kẻ cùng hung cực ác với sự hài hước duyên dáng và phép du hành thời gian đậm màu sắc Á Đông.</p>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-6 mb-32">
                <article class="post post--ty3">
                    <a href="" class="post__thumb"><img src="./assets/img/img11.jpg" alt=""></a>
                    <div class="post__content pr">
                        <h3><a href="">Chartbreaker: LOONA Cracked the Code to a ...</a></h3>
                        <time>28 tháng 3, 2021</time>
                    </div>
                    <div class="post__info">
                        <h4>Ba chàng hiệp sĩ mộng mơ</h4>
                        <p>30 năm Đổi Mới - sự bền bỉ trau dồi thẩm mỹ nghệ thuật của một thế hệ đã chao đảo trước những kẻ cùng hung cực ác với sự hài hước duyên dáng và phép du hành thời gian đậm màu sắc Á Đông.</p>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-6 mb-32">
                <article class="post post--ty3">
                    <a href="" class="post__thumb"><img src="./assets/img/img13.jpg" alt=""></a>
                    <div class="post__content pr">
                        <h3><a href="">Chartbreaker: LOONA Cracked the Code to a ...</a></h3>
                        <time>28 tháng 3, 2021</time>
                    </div>
                    <div class="post__info">
                        <h4>Ba chàng hiệp sĩ mộng mơ</h4>
                        <p>30 năm Đổi Mới - sự bền bỉ trau dồi thẩm mỹ nghệ thuật của một thế hệ đã chao đảo trước những kẻ cùng hung cực ác với sự hài hước duyên dáng và phép du hành thời gian đậm màu sắc Á Đông.</p>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-6 mb-32">
                <article class="post post--ty3">
                    <a href="" class="post__thumb"><img src="./assets/img/img12.jpg" alt=""></a>
                    <div class="post__content pr">
                        <h3><a href="">I Asked the Head of Space Force What the Agency Has Done for Me Lately</a></h3>
                        <time>28 tháng 3, 2021</time>
                    </div>
                    <div class="post__info">
                        <h4>Ba chàng hiệp sĩ mộng mơ</h4>
                        <p>30 năm Đổi Mới - sự bền bỉ trau dồi thẩm mỹ nghệ thuật của một thế hệ đã chao đảo trước những kẻ cùng hung cực ác với sự hài hước duyên dáng và phép du hành thời gian đậm màu sắc Á Đông.</p>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-6 mb-32">
                <article class="post post--ty3">
                    <a href="" class="post__thumb"><img src="./assets/img/img39.jpg" alt=""></a>
                    <div class="post__content pr">
                        <h3><a href="">Chartbreaker: LOONA Cracked the Code to a ...</a></h3>
                        <time>28 tháng 3, 2021</time>
                    </div>
                    <div class="post__info">
                        <h4>Ba chàng hiệp sĩ mộng mơ</h4>
                        <p>30 năm Đổi Mới - sự bền bỉ trau dồi thẩm mỹ nghệ thuật của một thế hệ đã chao đảo trước những kẻ cùng hung cực ác với sự hài hước duyên dáng và phép du hành thời gian đậm màu sắc Á Đông.</p>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-6 mb-32">
                <article class="post post--ty3">
                    <a href="" class="post__thumb"><img src="./assets/img/img11.jpg" alt=""></a>
                    <div class="post__content pr">
                        <h3><a href="">Chartbreaker: LOONA Cracked the Code to a ...</a></h3>
                        <time>28 tháng 3, 2021</time>
                    </div>
                    <div class="post__info">
                        <h4>Ba chàng hiệp sĩ mộng mơ</h4>
                        <p>30 năm Đổi Mới - sự bền bỉ trau dồi thẩm mỹ nghệ thuật của một thế hệ đã chao đảo trước những kẻ cùng hung cực ác với sự hài hước duyên dáng và phép du hành thời gian đậm màu sắc Á Đông.</p>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-6 mb-32">
                <article class="post post--ty3">
                    <a href="" class="post__thumb"><img src="./assets/img/img39.jpg" alt=""></a>
                    <div class="post__content pr">
                        <h3><a href="">Chartbreaker: LOONA Cracked the Code to a ...</a></h3>
                        <time>28 tháng 3, 2021</time>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-6 mb-32">
                <article class="post post--ty3">
                    <a href="" class="post__thumb"><img src="./assets/img/img11.jpg" alt=""></a>
                    <div class="post__content pr">
                        <h3><a href="">Chartbreaker: LOONA Cracked the Code to a ...</a></h3>
                        <time>28 tháng 3, 2021</time>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-6 mb-32">
                <article class="post post--ty3">
                    <a href="" class="post__thumb"><img src="./assets/img/img13.jpg" alt=""></a>
                    <div class="post__content pr">
                        <h3><a href="">Chartbreaker: LOONA Cracked the Code to a ...</a></h3>
                        <time>28 tháng 3, 2021</time>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-6 mb-32">
                <article class="post post--ty3">
                    <a href="" class="post__thumb"><img src="./assets/img/img12.jpg" alt=""></a>
                    <div class="post__content pr">
                        <h3><a href="">I Asked the Head of Space Force What the Agency Has Done for Me Lately</a></h3>
                        <time>28 tháng 3, 2021</time>
                    </div>
                </article>
            </div>
        </div>
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <i class="fas fa-chevron-left"></i>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </li>
        </ul>
    </div>
</main>