:root{
  --w5: rgba(255, 255, 255, 0.5);
  --gray: #D1D0D5;
  --gray1: #B9B6C0;
  --red: #B72126;
}
body{
  width: 100%;
  background: #f4f3f6;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #140C25;
  line-height: 1.5;
  overflow-x: hidden;
  &.bd-detail{background: #fff;}
}

@mixin tags{
  max-width: 584px;
  margin: 0 auto;
  padding: 26px 0;
  line-height: 24px;
  font-size: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  h5{margin: 8px 10px 8px 0; font-size: inherit; font-weight: 700;}
  a{font-weight: 500; margin: 8px 10px; line-height: 1; border-bottom: 1px solid transparent;}
  a:hover{color: var(--red); border-bottom: 1px solid;}
}

body.modal-open {
  overflow-y: inherit;
  padding-right: 0 !important;
}
a{transition: .15s;}
a:hover{text-decoration: none;}
img{max-width: 100%;}
h1,h2,h3,h4,h5{font-size: inherit;}

// ---------- header --------- //
header{
  width: 100%;
  height: 166px;
  background: url("#{$img-path}/bg.png") no-repeat 50% 0;
  z-index: 9;
  &.scroll{
    height: 70px;
    background: #140C25;
    position: fixed; top: 0;
    animation: moveheader .3s linear;
    backface-visibility: hidden;
    .topheader{display: none;}
    .navbar{padding: 8px 15px;}
    .logo{width: 80px;}
  }
  .topheader{padding: 9px 0; border-bottom: 1px solid rgba(255, 255, 255, 0.2);}
  .link{
    >*+*{margin-left: 40px;}
    a{font-size: 14px; font-weight: 500; color: rgba(255, 255, 255, 0.5);}
    a:hover{color: #fff;}
  }
  .logo{width: 125px;}
  .social{
    >*+*{margin-left: 40px;}
    i{color: var(--w5); font-size: 16px;}
    a:hover i{color: #fff;}
  }
  .menu-m{display: none;}
  .btn_search{
    width: 16px; height: 16px;
    margin-left: 40px;
    padding: 0;
    background: url("#{$img-path}/icon-search.png") no-repeat 0 0/contain;
  }
}
.navbar-toggler{display: none;}
.navbar{
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  align-items: center;
  padding: 20px 15px;
  transition: .5s;
  z-index: 99;
  .close{
    display: none;
    color: #fff;
    box-shadow: none;
    position: absolute; top: 25px; right: 24px;
    opacity: 1;
  }
  .close:hover{color: #fff !important;}
  img{max-width: 100%;}
}
.navbar-nav{
  margin-left: auto;
  > li{padding: 15px 0; position: relative;}
  > li > a{
    display: block;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    position: relative;
  }
  > li:hover > a{color: #fff;}
  > li > a.active{
    color: #fff;
  }
  > li:hover .sub-menu{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  span{position: relative; z-index: 2;}
  .show-menu{display: none;}
  .sub-menu{
    width: 206px;
    padding: 20px 0;
    background: linear-gradient(0deg, #140C25, #140C25);
    box-shadow: inset 0px -4px 0px #D8272D;
    position: absolute;
    top: 50px;
    transform: translateY(10px);
    transition: .2s linear;
    opacity: 0;
    visibility: hidden;
    li{
      padding: 11px 0; position: relative;
    }
    li:last-child{border-bottom: none;}
    li a{padding: 0 24px; font-weight: 500; color: #fff;}
    li a:hover{color: #fff;}
  }
}
h1{margin: 0; display: inline-block;}
.search{
  width: 100%; height: 100%; min-height: 100vh;
  background: #fff;
  overflow: auto;
  position: fixed; top: 0; left: 0; z-index: 99;
  &::-webkit-scrollbar{width: 0;}
  &.hide{display: none;}
  &.show{display: block;}
  &__result{
    h4 span{color: var(--red);}
    h5{margin: 30px 0; color: #000; font-weight: 700; font-size: 22px; border-bottom: 1px solid #d9d9d9;}
    h5 span{border-bottom: 1px solid;}
  }
  form{padding: 60px 0; text-align: center;}
  input{width: 100%; padding: 5px; margin-bottom: 10px; border: none; border-bottom: 1px solid #ccc; text-align: center; font-weight: 500; color: #333; font-size: 36px;}
  input::placeholder{color: #ccc;}
  input:focus{outline: none;}
  p{font-size: 15px;}
  .btn_close{
    width: 38px; height: 38px;
    background: url("#{$img-path}/close6.png") no-repeat 0 0/contain;
    position: absolute; right: 20px; top: 20px;
    font-size: 0;
  }
}

//main
main.scroll{padding-top: 166px;}
.trending{
  background: #fff;
  color: #140C25;
  overflow: hidden;
  h4{margin-right: 32px; font-weight: 700;}
  &__list{
    width: calc(100% - 100px); padding: 22px 0; overflow: auto; flex-wrap: nowrap;
    >*+*{margin-left: 32px;}
    a{font-weight: 500; line-height: 20px;  color: #140C25; white-space: nowrap;}
  }
}
.post{
  &__content{
    margin-top: 0; background: #fff;
  }
  &__thumb{
    display: block; overflow: hidden; position: relative;
    img{width: 100%; height: 100%; object-fit: cover; transition: all .5s ease-in-out;}
    &:hover img{transform: scale(1.06);}
  }
  h3 a:hover{color: var(--red); text-decoration-line: underline; text-decoration-style: solid; text-decoration-thickness: 0;}
}
.post--ty1{
  .post__thumb{width: 100%; height: 200px;}
  .post__content{
    padding: 32px 16px 16px;
    h3{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 72px;
      margin-bottom: 12px; font-weight: 500; font-size: 16px; line-height: 24px;
    }
  }
  span.category{left: 16px;}
}
.post--ty2{
  .post__thumb{width: 200px; height: 200px;}
  .post__content{
    padding: 36px 16px 16px;
    width: calc(100% - 200px);
    time{margin-top: 20px;}
    p{line-height: 20px;}
    h3{margin-bottom: 16px; font-weight: 500; font-size: 20px; line-height: 28px;}
    h3:hover{text-decoration-line: underline; text-decoration-style: solid; text-decoration-thickness: 0;}
  }
  span.category{left: 16px;}
}
.post--ty3{
  position: relative;
  &:hover{
    .post__info{opacity: 1; visibility: visible; z-index: 2;}
  }
  .post__thumb{width: 100%; height: 272px;}
  .post__content{
    background: transparent;
    padding: 12px 0;
    h3{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 48px;
      margin-bottom: 12px; font-weight: 500; font-size: 16px; line-height: 24px;
    }
    h3:hover{text-decoration-line: underline; text-decoration-style: solid; text-decoration-thickness: 0;}
  }
  .post__info{
    width: 315px;
    padding: 24px;
    margin-top: 0;
    background: #140C25;
    position: absolute; top: 35px; left: 292px;
    color: #fff;
    opacity: 0; visibility: hidden; transition: opacity .3s linear;
    h4{margin-bottom: 12px; font-size: 18px; line-height: 28px; font-weight: 700}
    p{line-height: 22px;}
    &::after{
      content: "";
      border-style: solid;
      border-width: 15px;
      border-color: transparent #140C25 transparent transparent;
      position: absolute; top: 50%; transform: translateY(-50%); left: -30px;
    }
  }
}
.post--ty4{
  .post__thumb{width: 100%; height: 200px;}
  .post__content{
    padding: 36px 16px 16px;
    h3{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 16px; font-weight: 500; font-size: 20px; line-height: 28px;
    }
    p{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 60px;
      line-height: 20px;
    }
    time{margin-top: 28px;}
    span.category{left: 16px;}
    h3:hover{text-decoration-line: underline; text-decoration-style: solid; text-decoration-thickness: 0;}
  }
}
.post--ty5{
  .post__thumb{width: 120px; height: 120px;}
  .post__content{
    padding: 32px 16px 12px;
    width: calc(100% - 120px);
    time{margin-top: 10px;}
    p{line-height: 20px;}
    h3{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 12px; font-weight: 500; font-size: 18px; line-height: 24px;
    }
    h3:hover{text-decoration-line: underline; text-decoration-style: solid; text-decoration-thickness: 0;}
  }
  span.category{left: 16px;}
}
.post--ty6{
  .post__thumb{
    width: 100%; max-width: 168px; height: 168px; position: relative;
    &--video::after{
      content: "";
      width: 57px; height: 56px;
      background: url("#{$img-path}/icon-video.png") no-repeat 0 0/contain;
      position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
      opacity: 0; visibility: hidden; transition: .3s;
    }
    &--video:hover::after{opacity: 1; visibility: visible;}
  }
  h3{
    display: block;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px; font-weight: 700; font-size: 16px; line-height: 24px;
  }
  span{font-weight: 500; font-size: 14px; line-height: 20px; color: #B9B6C0;}
}
.news{
  .post{
    &__thumb{max-width: 728px; width: 100%; height: 396px;}
    &__content{
      margin: -80px 0 0 104px;
      padding: 32px 32px 24px;
      .category{
        background: #B72126; padding: 4px 8px;
        font-size: 12px; line-height: 16px; color: #fff; font-weight: 700;
        position: absolute; top: 0; left: 0;
      }
    }
    h3{margin: 0 0 16px; font-weight: 500; font-size: 32px; line-height: 40px;}
    h3 a:hover{color: var(--red);}
    p{margin-bottom: 16px; line-height: 22px;}
    time{font-size: 14px; line-height: 20px;}
  }
  &__list{
    padding: 0 20px;
    background: #fff;
    li{position: relative; padding: 32px 0 18px; box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);}
    h4{margin-bottom: 12px; font-weight: 500; font-size: 16px; line-height: 24px;}
    h4 a:hover{color: var(--red); text-decoration: underline;}
  }
}
.highlight{
  .post{margin-bottom: 40px;}
  .col-lg-3{padding: 0 19px;}
}
.feature{
  &__list >*+*{margin-top: 40px;}
}
.playlist{
  h2.title{
    color: var(--red);
    span{font-size: 20px; line-height: 28px; color: var(--gray);}
  }
  &__spotify{margin-bottom: 20px;}
  &__post{
    justify-content: space-between;
    .post{max-width: 45%;}
  }
}
.podcasts{
  &__list{
    .col-lg-3:nth-child(4n){
      .post{
        &__info{
          right: 292px;
          left: inherit;
          &::after{border-color: transparent transparent transparent #140C25; left: inherit; right: -30px;}
        }
      }
    }
  }
}
.culture{
  .post{margin-bottom: 40px;}
  .col-lg-6{padding: 0 16px !important;}
}
.readmore{
  .post{
    &__content{
      h3,p{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

//page-detail
.page-detail{
  margin-top: 40px;
  span.category{background: #B72126; font-size: 14px; line-height: 20px; position: relative; color: #fff;}
  h2.title{margin: 20px 0; font-weight: 500; font-size: 40px; line-height: 48px; color: #140C25;}
  .des{font-weight: 500; font-size: 18px; line-height: 28px; color: #7A7584;}
  .meta{margin: 20px 0 32px;}
  figcaption{margin: 12px 0; text-align: center; font-size: 14px; color: #7A7584;}
  article{
     max-width: 584px; margin: 24px auto; font-size: 18px; line-height: 32px;
    h4{font-weight: 700; font-size: 24px; line-height: 36px;}
  }
  .info{
    max-width: 584px; margin: 24px auto; font-size: 18px; line-height: 30px;
    .author{font-weight: 700;}
    a,span{color: var(--red);}
  }
  .tags{@include tags;}
  .social{
    position: fixed; top: 55%; transform: translateY(-50%); left:  calc((100vw - 1350px)/ 2);
    &.scroll{top: 100px; transform: translateY(0);}
    >*+*{margin-top: vw(40px);}
    a{display: block; transition: .25s;}
    a:hover i{color: #333;}
    i{font-size: 24px; line-height: 28px; color: #D1D0D5;}
    @media (max-width: 1366px) {
      left:  calc((100vw - 1310px)/ 2);
    }
    @media (max-width: 1200px) {
      display: none;
    }
  }
}
.related_post{
  max-width: 584px; margin: 32px auto 0;
  .post{
    border-bottom: 1px solid #e2e2e2;
    &__content{background: none;}
  }
}
.banner{
  &__content{
    width: 100%; height: 100%; max-width: 1000px; padding-bottom: 90px;
    display: flex; flex-direction: column; justify-content: flex-end; align-items: center; text-align: center;
    position: absolute; left: 50%; transform: translateX(-50%); top: 0;
  }
  &__img{
    height: 100%;
    img{width: 100%; height: 100%; object-fit: cover;}
  }
  &__img::after{
    content: "";
    width: 100%; height: 100%;
    position: absolute; left: 0; top: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%);
  }
  &-podcast p{margin-bottom: 62px;}
  span.category{position: relative; margin-bottom: 32px; background: var(--red); font-size: 14px; line-height: 20px;}
  .meta{margin-bottom: 32px;}
  h2{margin-bottom: 32px; color: #fff; font-weight: 500; font-size: 40px; line-height: 48px;}
  p{max-width: 792px;  font-weight: 500; font-size: 18px; line-height: 28px; color: rgba(255, 255, 255, 0.7);}
}

.page_detail{
  background: #fff; padding: 0 15px;
  &--podcast{
    .detail{max-width: 996px; background: #fff; padding: 12px; margin: -90px auto 0; border-radius: 10px; position: relative;}
  }
  .yt-frame{
    max-width: 792px; height: 446px; margin: 0 auto 0; padding-top: 40px;
    iframe{width: 100%; height: 100%;}
  }
  article,.info,.tags{max-width: 584px; margin: 0 auto;}
  article{margin: 40px auto 24px; font-size: 18px; line-height: 32px;}
  .info{
    max-width: 584px; margin: 24px auto; font-size: 18px; line-height: 30px;
    .author{font-weight: 700;}
    a,span{color: var(--red);}
  }
  .tags{@include tags;}
  .social{
    padding: 28px 0 45px;
    justify-content: center;
    a{margin: 0 24px;}
    a:hover i{color: #333;}
    i{font-size: 24px; line-height: 28px; color: #D1D0D5;}
  }
}
.page-bt{padding: 40px 0;}

.about,.contact{
  min-height: 720px;
  padding: 64px 15px 40px;
  &__content{
    padding: 40px;
    max-width: 792px; margin: 0 auto;
    background: rgba(20, 12, 37, 0.8);
    color: #fff; font-size: 18px; line-height: 28px;
    h4{margin-bottom: 40px; font-size: 40px; line-height: 48px; font-weight: 900;}
    p{margin-bottom: 30px;}
    p:last-child{margin-bottom: 0;}
  }
}
.about{background: url("#{$img-path}/bg-dc1.jpg") no-repeat 0 0/cover;}
.contact{
  background: url("#{$img-path}/bg-dc2.jpg") no-repeat 0 0/cover;
  h5{margin-bottom: 0; font-size: 24px; line-height: 36px; font-weight: 700;}
}

//ads
.ads{margin: 0 auto;}
.ads-mobile{display: none; width: 315px; margin: 0 auto 40px;}
.ads-horizontal{max-width: 972px; width: 100%; margin: 0 auto 40px;}
.ads-vertical{max-width: 302px; width: 100%; margin: 0 auto;}

//uikit
h2.title{margin-bottom: 20px; font-size: 40px; font-weight: 900; line-height: 48px; color: var(--gray);}

//footer
footer{
  width: 100%; height: 382px;
  background: url("#{$img-path}/bg-footer.jpg") no-repeat 50% 0;
  padding: 50px 0 32px;
  text-align: center;
  .logo{width: 172px; margin: 0 auto;}
  .social{
    justify-content: center;
    margin: 40px 0;
    >*+*{margin-left: 40px;}
    i{color: #fff; font-size: 20px;}
    i:hover{color: #e2e2e2;}
  }
  .link{
    margin-bottom: 40px;
    justify-content: center;
    >*+*{margin-left: 32px;}
    a{display: block; color: #fff; font-weight: 500; line-height: 20px;}
    a:hover{color: #e2e2e2;}
  }
  .copyright{font-weight: 500; color: var(--w5);}
}

//uikt
.pr{position: relative;}
a{color: #140C25;}
.flex-nowrad{display: flex; flex-wrap: nowrap;}
.mt-68{margin-top: 68px;}
.mt-80{margin: 80px auto;}
.mb-32{margin-bottom: 32px;}
.mb-20{margin-bottom: 20px;}
.mb-4{margin-bottom: 40px !important;}
.category{
  padding: 20px 0;
  h4{margin-right: 32px; font-weight: 900; font-size: 32px; line-height: 40px;}
  h4 span{font-size: 16px; font-weight: 500; line-height: 24px;}
  a{font-weight: 500; font-size: 16px;line-height: 24px;}
  a:hover{color: var(--red);}
  ul > *+*{margin-left: 32px;}
}
.tag{
  padding: 20px 0;
  h5{margin-bottom: 0; font-weight: 500; font-size: 16px; line-height: 24px;}
  h5 span{font-weight: 700; font-size: 24px; line-height: 36px;}
}
.meta{
  color: #B9B6C0; font-weight: 700; line-height: 20px;
  .space{margin: 0 12px; width: 3px; height: 3px; border-radius: 50%; background: #C4C4C4;}
}
span.category{
  display: inline-block;
  background: var(--gray1); padding: 2px 6px;
  font-size: 12px; font-weight: 700; line-height: 16px; color: #fff;
  position: absolute; left: 0; top: 0;
}
.btn_viewmore{
  margin: 0 0 10px 40px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  i{margin-left: 4px; font-weight: 900; font-size: 16px; line-height: 16px; color: var(--red); transition: .15s linear;}
  &:hover i{transform: translateX(5px);}
  &:hover{color: var(--red);}
}
.container{
  max-width: 1240px;
  .col-lg-3,.col-lg-4,.col-lg-8,.col-lg-6{padding: 0 19px;}
}
button{
  border: none;
  cursor: pointer;
  &:focus{outline: none;}
}
time{display: block; font-weight: 700; font-size: 12px; line-height: 16px; color: var(--gray1);}
.slick-arrow{
  border: none; text-indent: -9999em;
  position: absolute; top: 50%; transform: translateY(-50%); z-index: 2;
  &:focus{outline: none;}
}
.slick-prev{transform: translateY(-50%) rotate(180deg);}
.box-breadcrumb{
  width: 100%;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  overflow: auto;
  .breadcrumb{
    flex-wrap: nowrap; padding: 16px 12px; margin: 0 auto;
    background: #fff; font-weight: 500; line-height: 20px;
    &-item{
      white-space: nowrap;
      a{white-space: nowrap;}
    }
  }
  .breadcrumb-item.active {
    color: #140C25; font-weight: 500;
  }
  a{font-weight: 700;}
  a:hover{color: var(--red);}
}
.breadcrumb-item + .breadcrumb-item::before{
  content: "";
  width: 11px; height: 11px;
  background: url("#{$img-path}/next.png") no-repeat 0 0/contain;
  padding-right: 0; margin-right: 12px;
}
.breadcrumb-item + .breadcrumb-item{padding-left: 12px;}
.pagination{
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
  li{margin: 0 10px;}
  .page-link{
    padding: 0;
    width: 30px; height: 30px;
    text-align: center;
    background: none; border: none; font-size: 16px; color: #140C25; margin-left: 0; line-height: 30px;
  }
  .active{border: 1px solid; background: none; color: inherit;}
  .page-item.active .page-link{ background: none; color: inherit;}
}

@media (max-width: 1200px) {
  .banner{
    &__content{padding-bottom: 30px;}
    span.category,.meta{margin-bottom: 20px;}
    h2{max-width: 750px; margin-bottom: 20px; font-size: 30px; line-height: 40px;}
    p{max-width: 70%; font-size: 16px;}
  }
  .page_detail{
    &--podcast .detail{margin-top: -40px;}
  }
  .post--ty3{
    .post__info{
      padding: 15px; width: 295px; left: 230px;
      h4{margin-bottom: 5px; font-size: 16px;}
      p{font-size: 13px; line-height: 18px;}
      &::after{border-width: 10px; left: -20px;}
    }
  }
  .podcasts{
    &__list{
      .col-lg-3:nth-child(4n){
        .post{
          &__info{
            right: 230px;
            left: inherit;
            &::after{border-color: transparent transparent transparent #140C25; left: inherit; right: -20px;}
          }
        }
      }
    }
  }
}

@media (max-width: 1023px){
  header{
    height: 80px;
    background: url("#{$img-path}/bg-h.jpg") no-repeat 100% 100%/cover;
    &.scroll{
      background: url("#{$img-path}/bg-h.jpg") no-repeat 100% 100%/cover;
      height: 80px; top: 0;
    }
    .topheader{display: none;}
    .navbar{padding: 13px 15px; height: 100%;}
    .logo{width: 80px; position: absolute; left: 50%; transform: translateX(-50%);}
    .btn_search{margin-left: auto;}
    .menu-m{
      display: flex; padding: 32px;
      >*+*{margin-left: 40px;}
      a{color: rgba(255, 255, 255, 0.5); font-weight: 500; line-height: 20px;}
    }
  }
  .navbar-toggler{
    display: block;
    width: 21px;
    height: 22px;
    padding: 0; position: absolute;
    top: 28px;
    left: 24px;
    background: none; border: none;
    span{
      display: block; width: 21px; height: 3px;
      background: #fff; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 21px; height: 3px; background: #fff; position: absolute; border-radius: 2px;
    }
    span:before{top: -7px;}
    span:after{width: 21px; bottom: -7px;}
  }
  .navbar-toggler.active{
    span{width: 21px; transform: rotate(45deg);}
    span:after{width: 21px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar{
    padding: 12px 14px;
    .close{display: block;}
    .brand img{max-width: 175px;}
    &.scroll{
      padding: 12px 14px;
      .brand img{max-width: 175px;}
    }
    &.active{
      .navbar-collapse{left: 0;}
    }
  }
  .navbar-collapse{
    width: 100%;
    height: 100%;
    display: block;
    background: #140C25;
    box-shadow: inset 0px 8px 0px #D8272D;
    position: fixed; left: -100%; top: 0;
    transition: left .3s linear;
    z-index: 999; overflow: auto;
    ul{overflow: auto;}

  }
  .navbar-nav{
    padding: 0 24px 0 32px;
    > li{padding: 15px 0;}
    > li > a{padding-left: 0; font-size: 16px; line-height: 24px;}
    > li > a.active{color: #fff;}
    > li.active{
      a{color: #fff;}
      .sub-menu{display: block; background: transparent; padding: 10px 0 0 15px;}
      .show-menu{transform: rotate(180deg); top: 15px;}
    }
    a:hover:before,a.active:before{
      width: 50px; bottom: 0;
    }
    .show-menu{
      display: block; position: absolute; right: 0; top: 6px;
      transition: .4s;
      i{font-size: 24px; color: #b3b3b3;}
    }
    .sub-menu{
      display: none;
      box-shadow: none;
      position: relative;
      top: 0;
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      li:last-child{padding-bottom: 0;}
      li a{padding: 0; font-size: 16px; color: rgba(255, 255, 255, 0.7);}
      &:before{display: none;}
    }
  }
  .post--ty6{
    .post__thumb{height: 120px;}
    h3{font-size: 14px;}
  }

  .trending{
    display: none;
    h4{margin-right: 15px;}
    &__list{
      width: calc(100% - 82px);
      padding: 15px 0;
      >*+*{margin-left: 10px;}
      a{font-size: 13px;}
    }
  }
  .news{
    margin-top: 40px;
    &__list{margin-top: 30px;}
    .post{
      &__thumb{height: 200px;}
      &__content{margin: 0; padding: 36px 16px 16px;}
      h3{font-size: 24px; line-height: 36px;}
    }
  }
  .highlight{
    .post{margin-bottom: 8px;}
  }
  .feature{
    margin-top: 32px;
    &__list{margin: 0 0 0 -9px;}
    &__list >*+*{margin-top: 8px;}
  }
  .playlist{
    margin-top: 32px;
    .post{max-width: 48%;}
  }
  .culture{
    .post{margin-bottom: 16px;}
  }
  .music,.tech{
    margin-top: 32px;
    .col-lg-6{padding: 0 15px !important;}
    .mb-4{margin-bottom: 16px !important;}
  }
  .banner{
    min-height: 360px;
    &__img img{
      min-height: 360px;
    }
  }
  .podcasts{
    &__list{
      .col-lg-3:nth-child(2n){
        .post{
          &__info{
            right: 230px;
            left: inherit;
            &::after{border-color: transparent transparent transparent #140C25; left: inherit; right: -20px;}
          }
        }
      }
    }
  }



  //ads
  .ads-mobile{display: block;}
  .ads-pc{display: none;}
  .ads-2,.ads-3,.ads-4,.ads-vertical{display: none;}

  .container{
    .col-lg-3,.col-lg-4,.col-lg-8,.col-lg-6{padding: 0 4px;}
    .row{margin-left: -9px; margin-right: -9px;}
  }
  h2.title{font-size: 32px; line-height: 40px;}
  .category{
    padding-bottom: 12px;
    .list{
      width: 100%; flex-wrap: nowrap; padding: 16px 0; overflow: auto;
      a{white-space: nowrap;}
    }
  }

  footer{
    .logo{width: 127px;}
    .social{margin: 25px 0;}
    .link{
      margin-bottom: 25px;
      li{margin-top: 15px; margin-bottom: 15px;}
      >*+*{margin-left: 24px;}
    }
  }
}

@media (max-width: 640px){
  .post--ty1{
    .post__thumb{height: 160px;}
  }
  .post--ty2{
    .post__thumb{width: 120px; height: 120px;}
    .post__content{
      width: calc(100% - 120px); padding: 28px 16px 8px;
      h3{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px; line-height: 24px;
      }
      p{display: none;}
    }
  }
  .post--ty3{
    .post__thumb{height: 168px;}
    .post__info{
      padding: 10px; max-width: 100%; left: calc(100% + 15px); top: 0;
      h4{font-size: 15px; line-height: initial;}
      p{font-size: 11px; line-height: 16px;}
    }
  }
  .podcasts{
    &__list{
      .col-lg-3:nth-child(even){
        .post{
          &__info{
            right: calc(100% + 10px); left: initial;
            &::after{border-color: transparent transparent transparent #140C25; left: inherit; right: -20px;}
          }
        }
      }
    }
  }
  .banner{
    p{max-width: 90%; font-size: 14px; line-height: inherit;}
    h2{margin-bottom: 15px; font-size: 24px; line-height: 30px;}
    span.category,.meta{margin-bottom: 15px;}
  }
  .page_detail{
    .yt-frame{height: vwm(455px); padding-top: 30px;}
    article{margin-top: 30px; font-size: 16px; line-height: 28px;}
    .tags{
      font-size: 13px;
      a{margin: 5px;}
    }
    .social{padding: 20px 0;}
  }
  .page-bt{padding: 20px 0;}
  .page-detail{
    margin-top: 20px;
    .info{font-size: 14px; line-height: 26px;}
  }
  .breadcrumb-item + .breadcrumb-item{padding-left: 8px;}
  .breadcrumb-item + .breadcrumb-item::before{margin-right: 8px;}

  .feature{
    &__list{margin: 0 -9px;}
  }
  .about,.contact{
    padding-top: 32px;
    &__content{
      padding: 24px;
      h4{margin-bottom: 24px; font-size: 32px; line-height: 40px;}
      p{margin-bottom: 22px; font-size: 16px; line-height: 24px;}
    }
  }
  .contact{
    h5{font-size: 20px; line-height: 30px;}
  }
  .page-detail{
    h2.title{font-size: 30px; line-height: 38px;}
    span.category{font-size: 12px;}
    .des{font-size: 16px; line-height: 24px;}
    article{font-size: 16px; line-height: 28px;}
    .tags{
      h5{margin: 5px 5px 5px 0;}
      a{margin: 5px 8px; font-size: 13px;}
    }
  }
  .search{
    .btn_close{width: 20px; height: 20px; top: 15px; right: 15px;}
    form{padding: 30px 0 40px;}
    input{padding: 0; font-size: 30px;}
    p{font-size: 13px;}
  }

  //uikit
  .mb-4{margin-bottom: 20px !important;}
  .category{
    h4{font-size: 27px; line-height: 36px;}
    ul >*+*{margin-left: 20px;}
    a{font-size: 15px;}
  }
}


//animated
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn{
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
}

@-webkit-keyframes moveheader {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0px);
  }
}
